/* Font */
@font-face {
    font-family: 'MainFont';
    src: url('Quenda-Medium.otf') format('opentype');
}

/* CSS styles */
body{
    background-color: #00ACFF;
    color: #010033;
    font-family: 'MainFont';
    src: url(Quenda-Medium.otf);
}

/* In top left corner */
.logo{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 1000px;
}