/* Font */
@font-face {
    font-family: 'MainFont';
    src: url('Quenda-Medium.otf') format('opentype');
}

/* CSS styles */
body{
    background-color: #00ACFF;
    color: #010033;
    font-family: 'MainFont';
    src: url(Quenda-Medium.otf);
    text-decoration: none;
    color: inherit;
    cursor: default;
}

/* In top left corner */
.LogoDiv{
    position: absolute;
    top: 0;
    left: 10;
    width: 110px;
    height: 100px;
}

center{
    color: #ffffff;
}

center h1{
    font-size: 100px;
}